<%= tag.header class: "fixed top-0 left-0 z-50 w-full p-12 mb-16" do %>
  <nav class="flex flex-row justify-between">
    <%= tag.h1 do %>
      <%= link_to "Barber Agenda", @path %>
    <% end %>

    <div>
      <%= content %>
    </div>
  </nav>
<% end %>
