<div data-controller="dropdown">
  <button data-action="dropdown#toggle"><%= @resource ? @resource.email : "Barber Agenda" %></button>

  <ul class="hidden" data-dropdown-target="menu">
    <% @links.each do |link| %>
      <li><%= link_to link[:name], link[:path] %></li>
    <% end %>

    <%= content %>
  </ul>
</div>
