<div data-controller="modal">
  <!-- Botão para abrir o modal -->
  <button data-action="modal#open">Abrir modal</button>

  <!-- Modal usando a tag <dialog> -->
  <dialog  data-modal-target="dialog">
    <h1 class="font-bold text-4xl">Customer#show</h1>
    <p>Find me in app/views/customer/show.html.erb</p>
    <!-- Botão para fechar o modal -->
    <button data-action="modal#close">Fechar</button>
  </dialog>
</div>

